{
  "root": true,
  "extends": [
      "standard"
  ],
  "rules": {
    "no-console": 0,
    "prefer-template": "error",
    "semi": [2, "always"],
    "indent": [2, 4]

  },
  "env": {
    "node": true
  }
}
